<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

<%- include('partialCarrito/cabezeraCarrito.ejs') %>  

<br>

<div class="container" tyle="background-color: aliceblue;
font-family: roboto;
margin: auto; border-radius: 15px 10px 15px 10px;">

        <a href="/admin" class="btn btn-outline-light btn-lg px-5" style="background-color: #1f2735; right: 140px; width: 150px; position: fixed; background-color: #1f2735;">Cancel</a>

        <h1 style="background-color: aliceblue;
        font-family: roboto;
        margin: auto;
        text-align: center; border-radius: 15px 10px 15px 10px;">MI CARRITO</h1>


        <table id="carritoPrevio" class="table table-bordered table-striped text-center nt-4">

            <thead>

                <tr class="bg-primary text-white">


                    <th scope="col">ID CARRITO_PREVIO</th>
                    <th scope="col">USUARIO</th>
                    <th scope="col">TIPO PRODUCTO</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">PRECIO</th>
                    <th scope="col">CANTIDAD</th>
                    <th scope="col">SUBTOTAL</th>
                    <th scope="col">ACCIONES</th>
                

                </tr>

            </thead>

            <tbody>

                <% carrito.forEach((c)=> { %>

                    <tr>

                        <td><%= c.id_carritoPrevio %></td> 
                        <td><%= c.user %></td> 
                        <td><%= c.tipoProducto %></td> 
                        <td><%= c.nombre %></td>  
                        <td><%= c.precioVenta %></td> 
                        <td><%= c.cantidad %></td> 
                        <td><%= c.subtotal %></td> 
                  
                        <td>

                           
                            <a onclick="confirmar(<%= c.id_carritoPrevio %>)" class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></a>
                            

                        </td> 

                        
                        
                    </tr>

                    

                <% }) %>
                    
                <tr>
                    
                    <th scope="col">TOTAL</th>
                    <td colspan="6"></td>
                    <td id="total"></td>
                    <td></td>
                </tr>

            </tbody>

        </table>

       
        <a href="/forma_pago" class="btn btn-outline-light btn-lg px-5" style="background-color: blue;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
            <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"/>
        </svg></a>
        

    </div>

    <br>


<%- include('partialCarrito/scriptCarrito.ejs')%> 

    <!-- Eliminar producto -->
    <script>

        
        function confirmar(id_carritoPrevio){

            Swal.fire({
                
                title: '¿Confirma eliminar el producto?',
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirmar'
                
                }).then((result) => {

                if (result.isConfirmed) {
                    window.location= '/deleteCarritoPrevio/'+id_carritoPrevio;
                } 
            });
            
        }

    </script>

    <!-- Sacar el total de todos los productos -->
    <script>
        // Obtiene todas las filas de la tabla, excepto la última (que contiene el total)
        const rows = document.querySelectorAll('#carritoPrevio tbody tr:not(:last-child)');
    
        // Inicializa el total en cero
        let total = 0;
    
        // Recorre todas las filas y suma los subtotales
        rows.forEach(row => {
        // Obtiene el valor del subtotal en la columna correspondiente
        const subtotal = parseFloat(row.cells[6].textContent);
        // Suma el subtotal al total
        total += subtotal;
        });
    
        // Muestra el total en la última fila de la tabla
        const totalCell = document.querySelector('#total');
        totalCell.textContent = total.toFixed(2); // Ajusta el total a dos decimales
    </script>



  </body>

</html>